body {
    min-height: 100vh;
}

.footer {
    background-color: #C4C4C4;
}

.skeleton {
    background-color: #dfdfc7;
    animation: blink 1.5s ease infinite;
    will-change: opacity;
    height: 24px;
    display: block;
    width: 100%;
    min-width: 300px;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

.skeleton-h1 {
    height: 40px;
    display: inline-block;
}

.skeleton-text {
    height: 16px;
    display: inline-block;
}