
   <section class="vh-100 gradient-custom-3">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-10">
                    <div class="card border-mor">
                        
                        <div class="card-header p-3 background-mor">
                            <h5 class="mb-0 text-white">Mis Recetas</h5>
                        </div>
                        
                        <div class="card-body table-wrapper-scroll-y my-custom-scrollbar" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                            <!-- Tabla-->
                            <table class="table mb-0">
                                <thead style="border-bottom: 2px solid #AA8DD8;">
                                    <tr>
                                    <th scope="col" class="text-mor">Imagen</th>
                                    <th scope="col" class="text-mor">Receta</th>
                                    <th scope="col" class="text-mor">Descripción</th>
                                    <th scope="col" class="text-mor"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                  <tr *ngIf="loading">
                                    <td colspan="5" class="text-center">
                                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="color: #844cce"></span>
                                    </td>
                                  </tr>
                                  <!--Fila -->
                                    <tr *ngFor="let receta of misrecetas" class="fw-normal" style="border-bottom: 1px solid #E8E1F5;"> 
                                        <td class="align-middle">
                                          <img class="img-thumbnail" [src]="receta.imagen" alt="no se pudo encontrar" style="object-fit: cover; width: 80px ;height: 80px;">
                                        </td>
                                        <td class="align-middle">
                                          <span class="ms-2"><a class="link-dark" routerLink="/{{receta.receta_id}}" routerLinkActive="active">{{receta.nombre}}</a> </span>
                                        </td>
                                        <td class="align-middle">
                                          <span>{{formatea_desc(receta.descripcion)}}</span >
                                        </td>
                                        <td class="align-middle">
                                          <button type="button" class="btn btn-outline-danger btn-sm" (click)="seguroEliminarReceta(receta)" >
                                            <i class="bi bi-trash-fill"></i> 
                                          </button>
                                        </td>
                                    </tr>
                                  <!-- Termina Fila -->
                                </tbody>
                            </table>
                            
                            <div class="d-flex justify-content-center p-4"> 
                              <button type="button" class="btn text-white" style="background-color: #9266CC;" (click)="agregarReceta()" >
                                <i class="bi bi-plus-square-fill px-1"></i> Crear nueva receta
                              </button>
                            </div>

                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>