<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- CSS file -->
    <link rel="stylesheet" href="agregar-receta.component.css">
</head>



<form id="form-agregar-receta" class="background">

    <div class="container pt-5 pb-5" >

        <div class="card d-flex flex-column bg-light" style="max-width: 750px; border: solid #a47cd8 1px; border-radius: 1rem;">

          <div class="card-header" style="background-color: #9266CC; border-radius: .85rem .85rem 0 0;">
              <h4 class="text-center w-100 pt-3 text-white"> Crear receta </h4>
          </div>

          <div class="card-body">

            <!-- Nombre de receta -->
            <div class="form-group" style="max-width: 500px;">
                <h5 class="text-purple-dark"> Nombre de la receta  </h5>
                <input [(ngModel)] = "formAgregaReceta.nombre" name="nombre" 
                       id="recipe-name" type="text" class="form-control" placeholder="Escribe aquí el nombre" >
            </div>


            <!-- Imagen de la receta -->
            <div class="d-flex flex-column">
                <h5 class="text-purple-dark"> Imagen de la receta  </h5>
                
                <!-- Subir imagen -->
                <div class="form-group p-1 d-flex" 
                     *ngIf="formAgregaReceta.imagen == '' ">
                  
                  <label id="img-selector" class="d-flex flex-column border p-3" for="recipe-image" style="border-radius: 8px;">
                    <img class="" src="https://img.icons8.com/fluency/96/000000/add-image.png" style="width: 80px;"/>
                    <small class="text-purple-dark">  Subir imagen  </small>
                  </label>
                  <input class="form-control" (change)="cargaImagen($event)" type="file" accept="image/*" id="recipe-image"  style="display: none;">
                </div>
                
                <!-- Imagen preview -->
                <div class="form-group p-1 d-flex" 
                     *ngIf="formAgregaReceta.imagen ">
                  <img class="img-thumbnail img-preview" [src]="formAgregaReceta.imagen">
                  <button id="erase-image" type="button" (click)="eliminaImagen()" class="btn" style="position: absolute; transform: translate(5px,5px); padding: 0;">
                    <i class="bi bi-x-circle p-1 px-2" style=" border-radius: 0 0 5px 0; background-color: rgba(93, 81, 107, 0.644); color: #ffffff;"></i>
                  </button>
                  
                  
                 
                </div>


            </div>

            <hr class="line">

            <!-- Ingredientes -->
            <div class="d-flex flex-column ">
                <h5 class="text-purple-dark"> Ingredientes </h5>
      
                <div id="ingredients-list" class="d-flex flex-column">

                  <!-- Ingrediente plantilla -->
                  <div class="form-row py-2 pl-3" style="width: fit-content"
                       *ngFor="let ingrediente of formAgregaReceta.ingredientes; let index = index;">
                    <div class="col-auto">
                        <input [(ngModel)] = "ingrediente.nombre" name="nombre" 
                              type="text" class="form-control input-underline mr-2" placeholder="Nombre del ingrediente" style="max-width: 200px;">
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <input  [(ngModel)] = "ingrediente.cantidad" name="cantidad" 
                                    *ngIf="medicionUsaCantidad(ingrediente.tipo_medicion)" type="number" class="form-control input-underline" placeholder="1" min="0" max="9999" style="max-width: 65px; -webkit-appearance: none; -moz-appearance: textfield;">
                            <select [(ngModel)] = "ingrediente.tipo_medicion" name="tipo_medicion" 
                                    class="custom-select input-underline">
                                <option *ngFor="let tipo of tiposDeMedicion" [value]="tipo" >{{tipo}}</option>  
                            </select>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="erase-ingredient" (click)="eliminaIngrediente(index)" type="button" class="btn"  > <i class="bi bi-x-circle" style="color: #AE2538;"></i>  </button>
                    </div>
                  </div> <!-- Ingrediente plantilla -->

                </div>
      
                <button id ="ingredient-add" type='button' (click)="agregaIngrediente()" class="btn text-purple pu-3" style="height: 30px; width: 190px; line-height: 10px;"> 
                  <i class="bi bi-plus-circle"></i> Agregar ingrediente
                </button>
            </div>

            <hr class="line">

            <!-- Pasos -->
            <div class="d-flex flex-column ">
                <h5 class="text-purple-dark"> Pasos de elaboración </h5>
      
                <div id="ingredients-list" class="d-flex flex-column"> 
                    
                  <!-- Paso plantilla -->
                    <div class="d-flex py-2"
                         *ngFor="let paso of formAgregaReceta.pasos; let index = index;">
                      <span class="p-2 px-2 text-purple-dark"> {{index+1}}.-</span>
                      <textarea class="step-textarea" autogrow placeholder="Escribe aquí el paso"></textarea>
                    </div> <!-- Paso plantilla --> 

                </div>
      
                <div class="d-flex flex-row">
                    <button id ="step-add" type='button' class="btn text-purple" (click)="agregaPaso()" style="height: 30px; line-height: 10px;"> 
                      <i class="bi bi-plus-circle"></i> Agregar paso
                    </button>
      
                    <button [ngClass]="{'disabled': formAgregaReceta.pasos.length == 0 }"
                            id ="step-erase" type='button' class="btn text-crimson-dark" (click)="eliminaPaso()" style="height: 30px; line-height: 10px;"> 
                      <i class="bi bi-dash-circle"></i> Eliminar paso
                    </button>
                </div>
            </div>

            <hr class="line">

            <!-- Categorias de la receta -->
            <div class="form-group" style="max-width: 500px;">
                <h5 class="text-purple-dark"> Categorias de la receta  </h5>
                <input [(ngModel)] = "formAgregaReceta.categorias" name="categorias" 
                       id="recipe-category" type="text" class="form-control" placeholder="Escribe aquí las categorias" >
                <small class="pl-1 text-purple-light"> Separa cada categoría usando una coma "," (Ej: postre, navideño )</small>
            </div>

            <hr class="line">

            <!-- Subir receta -->
            <div class="d-flex justify-content-between">

                <!-- terminos y condiciones -->
                <div class="form-check">
                  <input [(ngModel)] = "aceptaTerminos" name="aceptaTerminos" 
                         class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label text-purple" for="defaultCheck1">
                    Aceptar términos y condiciones.
                  </label>
                </div>


                <button id ="sumit" type='button' class="btn text-white" style="background-color: #9266CC;"> 
                  Subir receta
                </button>
            </div>
          
          </div> <!-- fin cuerpo tarjeta-->
        </div> <!-- fin de tarjeta -->

    </div>
</form>


