<div class="container pt-5">

  <app-skeleton
    *ngIf="titulo === ''"
    skeletonClass="skeleton-h1"
  ></app-skeleton>
  <h1 *ngIf="titulo">{{titulo}}</h1>

  <!-- filters -->
  <div class="d-inline-flex">
    <select class="form-select me-3" aria-label="Tipo de platillo">
      <option value="0" selected>Todas las categorías</option>
      <option value="1">Postre</option>
      <option value="2">Acompañamiento</option>
      <option value="3">Plato fuerte</option>
      <option value="4">Plato ligero</option>
      <option value="5">Vegetariano</option>
    </select>
  </div>

  <div class="mt-4">
    <a *ngFor="let receta of recetas"
      class="d-flex mb-2 py-4 px-3 bg-lightgrey cursor-pointer"
      [routerLink]="'/' + receta.id"
    >
      <div class="col-md-8">
        <p class="h2">{{receta.nombre}}</p>
        <p>{{receta.tipo}}</p>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Calorías: {{receta.calorias}}</li>
          <li>Grasas: {{receta.grasas}}</li>
          <li>Proteinas: {{receta.proteinas}}</li>
        </ul>
      </div>
    </a>

    <div
      *ngIf="!recetas" 
      class="text-center">
      <app-skeleton
        skeletonClass="skeleton-receta"
      ></app-skeleton>  
    </div>

    <div
      *ngIf="recetas?.length === 0"
      class="text-center">
      <h2>No se encontraron recetas</h2>
    </div>

  </div>

</div>
