.skeleton {
  background-color: #553788;
  animation: blink 1.5s ease infinite;
  will-change: opacity;
  height: 24px;
  display: block;
  width: 100%;
  min-width: 300px;
  border-radius: 0.25rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skeleton-h1 {
  height: 40px;
  display: inline-block;
}

.skeleton-text {
  height: 16px;
  display: inline-block;
}

.skeleton.skeleton-receta {
  height: 136px;
}

.skeleton-valor {
  min-width: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: -2px;
  height: 16px;
}

.skeleton-img {
  height: 300px;
  width: 300px;
}