.skeleton {
  background-color: #dfdfc7;
  animation: blink 1.5s ease infinite;
  will-change: opacity;
  height: 24px;
  display: block;
  width: 100%;
  min-width: 300px;
}

.skeleton-h1 {
  height: 40px;
  display: inline-block;
}

.skeleton-text {
  height: 16px;
  display: inline-block;
}

.skeleton.skeleton-receta {
  height: 136px;
}